<div class="main-content">
    <section class="section">
        <div class="section-body">

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <form [formGroup]="contaForm" #formDir="ngForm" (ngSubmit)="editar()">
                        <div class="card">
                            <div class="card-header">
                                <h4>Conta</h4>
                            </div>
                            <div class="card-body">

                                <div class=" form-group">
                                    <label for="nome">Nome completo</label>
                                    <input formControlName="nome" type="text" class="form-control" name="nome"
                                        id="nome">
                                    <div *ngIf="(nome.invalid && formDir.submitted)" class="text-danger">Insira um nome
                                        válido.</div>
                                </div>
                                <div class=" form-group">
                                    <label for="email">E-mail</label>
                                    <input formControlName="email" type="email" class="form-control" name="email"
                                        id="email">
                                    <div *ngIf="(email.invalid && formDir.submitted)" class="text-danger">Insira um
                                        email
                                        válido.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="senhaAntiga">Senha Antiga</label>
                                    <input formControlName="senhaAntiga" type="password" class="form-control"
                                        name="senhaAntiga" id="senhaAntiga">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block">Senha</label>
                                        <input formControlName="senhaNova" id="password" type="password"
                                            class="form-control " name="senhaNova">

                                        <div *ngIf="(senhaAntiga.valid && senhaNova.invalid && formDir.submitted)" class="text-danger">Insira
                                            uma senha
                                            válida contendo no mínimo 8 caracteres, incluindo pelo menos uma letra
                                            maiúscula,
                                            uma letra minúscula e um caractere especial.
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="repetirSenhaNova" class="d-block">Confirme sua senha</label>
                                        <input formControlName="repetirSenhaNova" id="repetirSenhaNova" type="password"
                                            class="form-control" name="repetirSenhaNova">
                                        <div *ngIf="(senhaAntiga.valid && repetirSenhaNova.invalid && formDir.submitted)"
                                            class="text-danger">As senhas não coincidem.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="gastos">Limite de gastos</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">R$</div>
                                        </div>
                                        <input formControlName="gastos" type="text" class="form-control currency"
                                            name="gastos" id="gastos">

                                    </div>
                                    <div *ngIf="(gastos.invalid && formDir.submitted)" class="text-danger" style="width: 100%;">O
                                        limite de gastos é obrigatório e precisa ser no formato de valor "###,##".</div>
                                    
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary mr-1" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>