<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="card card-primary">
                <div class="card-header">
                    <div>
                        <img alt="image" src="assets/img/logo.png" height="50px" />
                    </div>
                    <h4>Compra Inteligente</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="cadastroForm" #formDir="ngForm" (ngSubmit)="cadastrar()">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="name">Nome Completo</label>
                                <input formControlName="nome" id="name" type="text" class="form-control" name="name"
                                    autofocus>
                                <div *ngIf="(nome.invalid && formDir.submitted)" class="text-danger">Insira um nome
                                    válido.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input formControlName="email" id="email" type="email" class="form-control" name="email">
                            <div *ngIf="(email.invalid && formDir.submitted)" class="text-danger">Insira um email
                                válido.
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="password" class="d-block">Senha</label>
                                <input formControlName="senha" id="password" type="password" class="form-control "
                                    name="password">

                                <div *ngIf="(senha.invalid && formDir.submitted)" class="text-danger">Insira uma senha
                                    válida contendo no mínimo 8 caracteres, incluindo pelo menos uma letra maiúscula,
                                    uma letra minúscula e um caractere especial.
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label for="repetirSenha" class="d-block">Confirme sua senha</label>
                                <input formControlName="repetirSenha" id="repetirSenha" type="password"
                                    class="form-control" name="repetirSenha">
                                    <div *ngIf="(repetirSenha.invalid && formDir.submitted)" class="text-danger">As senhas não coincidem.
                                    </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Cadastrar
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-4 mb-3">
                        <div class="text-job text-muted">ou use uma das seguintes opções</div>
                    </div>
                    <div class="flex-row sm-gutters">
                        <div class="d-flex justify-content-center">
                            <asl-google-signin-button type="icon" class="mx-2"></asl-google-signin-button>
                            <button (click)="loginFB()" class="btn btn-social-icon btn-facebook mx-2">
                                <span class="fab fa-facebook"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-2 mb-5 text-muted text-center">
                Já possui uma conta? <a [routerLink]="['/login']">Login</a>
            </div>
        </div>
    </div>
</div>